<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" 
    integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
     crossorigin="anonymous" />
     <link rel="stylesheet" href="style.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
    
    <div class="search">
        <i class="fas fa-search"></i><input type="text" placeholder="Enter your search terms" ng-model="term">
</div>
    <ul>
        <li ng-repeat="item in list| filter: term"><div class="row"><span><img src="{{item.image}}" alt=""></span>{{item.title}}</div><hr></li>
    </ul>
</body>
</html>